body {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: sans-serif;
}
.main-container {
    margin: 0 2rem;
}
#paper_form {
    max-width: 35rem;
    margin: auto; 
}
#paper_form .form-control {
    margin-bottom: 0.75rem;
}
.paper-list {
    margin-bottom: 10px;
}
footer {
    text-align: center;
    padding-bottom: 1rem;
}
.author-link, .author-link:focus {
    color: #fff;
    border-bottom: 1px dotted #fff; 
}
.author-link:hover, .author-link:active {
    text-decoration: none;
    color: #fff;
    border: none;
}
